header {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  width: 100%;
  opacity: 90%;
  height: 160px;
}
nav a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}
.h-max{
  max-height: 100px !important;
}
