<header>
  <div class="header-container">
    <div class="logo-container">
      <img src="../../../assets/images/logo_tuh_transparente.png" alt="Logo T.U.H" class="logo-img">
    </div>
    <nav class="nav-links">
      <a routerLink="/fixit" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Me</a>
      <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
      <a routerLink="/thissite" routerLinkActive="active" ariaCurrentWhenActive="page">This Site</a>
      <a routerLink="/teste" routerLinkActive="active" ariaCurrentWhenActive="page">Rota 404</a>
    </nav>
  </div>
</header>
