<header>
  <div class="row">
    <div class="h-max">
      <img src="../../../assets/images/logo_tuh_transparente.png" alt="Logo T.U.H" class="mrml-auto">
    </div>
    <div class="text-center">
      <nav>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Me</a>
      <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
      <a routerLink="/teste" routerLinkActive="active" ariaCurrentWhenActive="page">Rota 404</a>
    </nav>
    </div>

  </div>
  
  
</header>
