@font-face {
  font-family: 'Cocogoose';
  src: url('./assets/fonts/Cocogoose-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
    margin: 0 !important;
    font-family: 'Cocogoose', sans-serif;
    color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.prpl-zero{
    padding-right: 0 !important;
    padding-left: 0 !important;    
}
.mrml-zero{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.mrml-auto{
    margin-right: auto !important;
    margin-left: auto !important;
}
.w-100{
    width: 100% !important;
}
