@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.banner{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.banner .content{
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif !important;
    color: white;
}
.main-content{
    background-color: rgba(0, 0, 0, 0.8); 
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}
.img-thg {
    width: 100%;
    max-width: 200px;   /* tamanho máximo responsivo */
    aspect-ratio: 1/1;  /* mantém proporção quadrada */
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;     /* centraliza se necessário */
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-in.visible {
    opacity: 1;
}