<div class="banner">
    <video autoplay muted loop playsinline class="w-100">
        <source src="assets/videos/background_webm.webm" type="video/webm">
        Seu navegador não suporta vídeo.


        teste
    </video>
    <div class="content">
        <div class="row prpl-zero mrml-zero">

            <div class="col-9 main-content">
                <div class="row w-100 p-4">
                    <div class="col-2">
                        <img src="assets/images/picture_thiago.JPEG" alt="Thiago Urias Hirae" class="img-fluid rounded-circle img-thg">
                    </div>
                    <div class="col-10">
                        <h1 class="text-center">THIAGO URIAS</h1>
                        <p class="text-center">UX/UI DESIGNER AND FRONTEND DEVELOPER.</p>
                        <h3 class="text-center">TURNING DREAMS INTO < CODE >.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

