<div class="video-background">
    <app-header></app-header>
    <video autoplay muted loop playsinline class="video-background">
        <source src="assets/videos/background_mp4.mp4" type="video/mp4" />
        <source src="assets/videos/background_webm.webm" type="video/webm" />
        Your browser does not support the video tag.
    </video>
    <div class="video-overlay">
        <div class="content" id="content">
            <div class="row prpl-zero mrml-zero">
                <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-9 main-content">
                    <div class="row w-100 p-4">

                        <div><label class="typewriter" [innerHTML]="displayedText">{{ displayedText }}</label></div>
                    </div>
                    <div class="row w-100 p-4">
                        <div class="col-12 text-center fade-in" [class.visible]="showP3">
                            <p class="text-center text-shadow-black font-18">I am a frontend developer and UX/UI designer with a passion for
                                creating
                                user-friendly and visually appealing digital experiences. My goal is to turn your ideas
                                into
                                reality, crafting solutions that not only look great but also function seamlessly.</p>
                            <p class="text-center text-shadow-black font-18">Let's work together to bring your vision to life!</p>
                        </div>
                    </div>
                    <div class="row w-100 p-4 mb-4">
                        <div class="col-12 text-center fade-in" [class.visible]="showP4">
                            <div class="d-flex justify-content-center flex-wrap gap-3">
                                <button class="button-custom" role="button" (click)="link.action()"
                                    *ngFor="let link of links; let i = index">
                                    <span class="text p-3">
                                        <i class="{{link.icon}}"></i>
                                        {{ link.name }}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>