<div class="retro-container">
    <div class="retro-header">
        <h1>Your business!</h1>
        <p>That maybe till rockin' the 2000s vibes.</p>
    </div>

    <div class="retro-content text-center">
        <label class="text-home w-100">
            Are your clients looking at your business the same way you're looking at this outdated design? If your website is stuck in the past, it's not building your future. Let's rewrite its history and shift that perception, together.
        </label>
        <div class="w-100">
            <button class="btn btn-primary btn-lg text-button" routerLink="/fixit" role="button">
                <i class="fa-solid fa-hammer"></i> Fix it! Hire Thiago Urias
            </button>
        </div>

    </div>

    <div class="retro-footer">
        <p>&copy; 200X - All Rights Reserved.</p>
        <p>Best viewed with any browser at 800x600 pixels</p>
    </div>
</div>