<div class="banner">
    <video autoplay muted loop playsinline class="w-100">
        <source src="assets/videos/background_mp4.mp4" type="video/mp4">
        <source src="assets/videos/background_webm.webm" type="video/webm">
        Seu navegador não suporta vídeo.


        teste
    </video>
    <div class="content">
        <div class="row prpl-zero mrml-zero">
            <div>
                <h1 class="text-center">THIAGO URIAS</h1>
                <p class="text-center">UX/UI DESIGNER AND FRONTEND DEVELOPER.</p>
                <h3 class="text-center">TURNING DREAMS INTO < CODE >.</h3>
            </div>
            <div class="col-9 main-content">
                linkedin
                download curriculo
                
            </div>
        </div>
    </div>
</div>

